{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
    <h2 class="mb-4">Add Categories</h2>
</div>
<div class="row justify-content-center">
    <form action="{% url 'add_category' %}" method="post" enctype="multipart/form-data" class="add">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" name="cat_name" placeholder="Category name">
        </div>
        <div class="form-group">
            <input type="file" class="form-control-file" name="cat_image">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-danger">Save</button>
        </div>
    </form>
</div>

{% endblock %}